<div class="header">
  Тестовое задание по программной инженерии
</div>
<div class="body">
  <div class="container" *ngFor="let q of storage; let i = index">
    <div class="question">{{q.question}}</div>
    <div class="answers">
      <div class="answer" [class.active]="q.a === 0" (click)="onClick(i, 0)">{{q.answers[0]}}</div>
      <div class="answer" [class.active]="q.a === 1" (click)="onClick(i, 1)">{{q.answers[1]}}</div>
      <div class="answer" [class.active]="q.a === 2" (click)="onClick(i, 2)">{{q.answers[2]}}</div>
    </div>
  </div>

  <div class="result">
    <button (click)="check()">Получить результат</button>
    <label *ngIf="result">{{result}}</label>
  </div>
</div>
