.header {
  font-size: 40px;
  justify-content: center;
  height: 200px;
  align-items: center;
  display: flex;
}

.body {
  display: flex;
  flex-flow: column;
}

.container {
  display: flex;
  flex-flow: column;
  margin-bottom: 40px;
}

.question {
  width: 100%;
  font-size: 25px;
  height: 50px;
  display: flex;
}

.answers {
  cursor: pointer;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.answer {
  background-color: antiquewhite;
  max-width: 400px;
  padding: 10px;
  align-self: center;
}

.active {
  background-color: aquamarine;
}

button {
  width: 400px;
  height: 60px;
  font-size: 25px;
}

label {
  font-size: 25px;
  width: 400px;
  align-self: center;
  margin-left: 100px;
}

.result {
  display: flex;
  justify-content: center;
}
